body {
    background-image: var(--dark-background-color);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--light-headline-color);
}

p {
    color: var(--light-subheadline-color);
}

main {
    background-color: var(--dark-primary-card-color);
}

.btn2 {
    border: 2px solid var(--dark-primary-color);
    color: var(--light-headline-color);
}

.btn2::before {
    background-color: var(--dark-primary-card-color);
}

.btn2:hover {
    border: 2px solid var(--dark-secondary-color);
    background: var(--dark-secondary-color);
    color: var(--light-headline-color);
}

#show-projects {
    background: var(--dark-secondary-color);
    color: var(--light-headline-color);
}

#show-projects::before {
    background: var(--dark-primary-color);
}

#show-projects:hover span {
    color: var(--light-headline-color);
}

.image-slide img {
    background: var(--dark-background-color);
}

.card-container {
    background: var(--dark-background-color);
}

.card-info {
    background: var(--dark-secondary-card-color);
}

.btn-info {
    background: var(--dark-primary-color);
    color: var(--light-headline-color);
}

.btn-info:hover {
    background: var(--dark-secondary-color);
    color: var(--light-headline-color);
}

.certificate-slide {
    border: var(--light-secondary-card-color) 5px solid;
}

.certificate-slide__content {
    background: var(--dark-secondary-card-color);
}

.certificate-slide__button {
    background: var(--dark-primary-color);
    color: var(--light-headline-color);
}

.certificate-slide__button:hover {
    background: var(--dark-secondary-color);
    color: var(--light-headline-color);
}

.icons {
    /* background-color: var(--light-headline-color); */
    fill: var(--light-headline-color)
}