:root {
    --main-font: 'Roboto', sans-serif;

    /* --light-background-color: #fffffe;
    --light-highlight-color: #078080;
    --light-secondary-color: #f45d48;
    --light-tertiary-color: #f8f5f2;
    --light-card-color: #f8f5f2;
    --light-headline-color: #232323;
    --light-subheadline-color: #222525;

    --dark-background-color: #242629;
    --dark-highlight-color: #7f5af0;
    --dark-secondary-color: #72757e;
    --dark-tertiary-color: #2cb67d;
    --dark-card-color: #16161a;
    --dark-headline-color: #fffffe;
    --dark-subheadline-color: #94a1b2; #ffedd3*/
}

body {
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    /* background-image: linear-gradient(120deg, #103975 0%, #242629 100%); */

    font-family: var(--main-font);
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--light-headline-color);
    margin: 0;
}

p {
    color: var(--light-subheadline-color);
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    padding: 0 1rem;
    margin: 12.5vh auto;
    width: 75vw;
    height: 75vh;
    border-radius: 16px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

.navbar, .navbar ul, .middle ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    text-decoration: none;
    gap: 0.5rem;
    padding: 0;
    /* margin: 0; */
}

.middle ul li .icons {
    width: 2rem;
    height: 2rem;
}

.navbar a {
    text-decoration: none;
    color: var(--light-subheadline-color);
    
}

.navbar img {
    width: 50px;
    height: 50px;
}

.navbar button {
    font-size: 17px;
    background: transparent;
    border: none;
    padding: 1em 1.5em;
    color: #000;
    text-transform: uppercase;
    position: relative;
    transition: 0.5s ease;
    cursor: pointer;
}

.navbar button::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #f6d365;
    transition: 0.5s ease;
}

.navbar button:hover::before {
    width: 100%;
}


.middle {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    height: 100%;
    gap: 1rem;
}

.middle img {
    width: 40vw;
    
    object-fit: cover;
    object-position: center;
}

.bottom {
    text-align: center;
    gap: 0.5rem;
    padding: 0.5rem;
}