:root {
    --main-font: 'Roboto', sans-serif;

    --light-background-color: #fffffe;
    --light-highlight-color: #078080;
    --light-secondary-color: #f45d48;
    --light-tertiary-color: #f8f5f2;
    --light-card-color: #f8f5f2;
    --light-headline-color: #232323;
    --light-subheadline-color: #222525;

    --dark-background-color: #242629;
    --dark-highlight-color: #7f5af0;
    --dark-secondary-color: #72757e;
    --dark-tertiary-color: #2cb67d;
    --dark-card-color: #16161a;
    --dark-headline-color: #fffffe;
    --dark-subheadline-color: #94a1b2;
}

html, body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    margin: 0pt;
}

.Frame {
    display: table;
    height: 100%;
    width: 100%;
}
.Row {
    display: table-row;
    height: 1px;
}
.Row.Expand {
    height: auto;
}

body {
    font-family: var(--main-font);
    background-color: var(--light-background-color);
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--light-headline-color);
    margin: 0;
}

p {
    color: var(--light-subheadline-color);
    margin: 0;
}

header {
    text-align: center;
background-color: var(--light-tertiary-color);
}

header img {
    width: 5rem;
}


nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

nav button {
    background-color: var(--light-highlight-color);
    color: var(--light-headline-color);
    font-size: 1rem;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

#mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--light-card-color);
    
    gap: 1rem;
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.5rem;
    min-height: 50vh;
}

.slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    
}

.slide img {
    width: 100%;
    border-radius: 0.5rem;

}

footer {
    background-color: var(--main-color);
    text-align: center;
    padding: 1rem;
}